@page
@model ScholarlySoftwareSearch.Pages.Softwares.IndexModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<form>
    <p>
        Search by <select asp-for="SearchByString" asp-items="Model.SearchBy" class="py-2 rounded mr-0 pr-3"></select> : 
        <input type="text" asp-for="SearchString" class="py-2 rounded mr-0 pr-3"/>
        Sort by <select asp-for="SortByString" asp-items="Model.SearchBy" class="py-2 rounded mr-0 pr-3"></select> : 
        @if (SignInManager.IsSignedIn(User))
        {
            <select asp-for="UploaderString" class="py-2 rounded mr-0 pr-3">
                <option value="">All Software</option>
                <option value=@User.Identity.Name>My Software</option>
            </select>
        }
        <input type="submit" value="Search" class="btn btn-primary"/>
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Publisher
            </th>
            <th>
                Tag
            </th>
            <th>
                Upload Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Software)
        {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.SoftwareName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate.Year)
            </td>
        </tr>
        }
    </tbody>
</table>
