@page
@model ScholarlySoftwareSearch.Pages.Softwares.IndexModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="SearchByString" asp-items="Model.SearchBy"></select>:
        <input type="text" asp-for="SearchString" />
        Sort by <select asp-for="SortByString" asp-items="Model.SearchBy"></select>:
        @if (SignInManager.IsSignedIn(User))
        {
            <select asp-for="UploaderString">
                <option value="">All Software</option>
                <option value=@User.Identity.Name>My Software</option>
            </select>
        }
        <input type="submit" value="Go" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Author(s)
            </th>
            <th>
                Upload Date
            </th>
            <th>
                Publisher
            </th>
            <th>
                Tag
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Software)
        {
        <tr>
            <td><a asp-page="./Details" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.SoftwareName)
            </a></td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User) && ((User.IsInRole("Admin") || (User.IsInRole("Manager"))) || item.UploaderID == User.Identity.Name))
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a>|</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
